* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: rgb(234, 68, 240);
}

.header-container {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
    padding: 10px;
}

.header.header-logo {
    font-weight: bold;
    flex: 1;
    align-content: center;
}
.header.links {
    padding: 10px;
}

.hero-text-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #1F2937;
    color: white;
}

.hero-text p {
    font-size: 14px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
}

.main-header h1{
    display: flex;
    justify-content: center;
    padding: 30px 0 10px 0;
}

.main {
    display: flex;
    justify-content: space-between;
}

.box {
    text-align: center;
}
.main .box img{
    max-width: 65%;
    height: auto;
    flex: 1 1 auto;
    object-fit: cover;
}

.quote-section {
    background-color: #E5E7EB;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    width: 60%;
    margin: auto;
}

.person {
    font-weight: bold;
    text-align: right;
    padding-top: 10px;
    width: 80%;
}

.callToAction {
    background-color: #3882F6;
    color: white;
    display: flex;
    width: 60%;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 5px 15px 5px 15px;
    margin-top: 10px;
    border-radius: 10px;
}

footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    align-items: center;
    height: 75px;
    padding-top: 50px
}